rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /expenses/{document} {
      allow read, write: if true;
    }
    match /investments/{document} {
      allow read, write: if true;
    }
    match /suppliers/{document} {
      allow read, write: if true;
    }
    match /invoices/{document} {
      allow read, write: if true;
    }
    match /exchange/{document} {
      allow read, write: if true;
    }
    match /cash/{document} {
      allow read, write: if true;
    }
    match /customers/{document} {
      allow read, write: if true;
    }
  }
}
